.button {
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font-family: 'Poppins';
  text-align: center;
}

.primary {
  background-color: var(--primary-color);
   color: var(--primary-light);
}
.primary:hover {
  background-color: var(--primary-dark);
  transition: all 0.2s ease-in-out;
}

.secondary {
  background-color: gray ;
}
.secondary:hover{
  background-color: bisque;
}


.medium {
  padding: 1.2rem 0!important;
  font-size: 16px !important;
  display: block;
  width: 50%;
}

.large {
  padding: 1.2rem 0 !important;
  font-size: 2rem !important;
  display: block;
  width: 100%;
}
