.form {
  margin: 6rem 0;
  width: 100%;
}
.textArea {
  width: 100%;
  border-radius: 0.4rem;
  resize: none;
  height: 8rem;
  border: 2px solid transparent;
  padding: 0.8rem;
  font-size: 1.6rem;
  font-family: "Poppins";
  color: var(--gray-200);
}
.textArea:focus {
  border-color: var(--secondary-color);
  outline: none;
}

.labelForm {
  display: block;
  color: var(--gray-400);
  width: 100%;
  margin-bottom: 0.8rem;
}
