.about{
    display: flex;
    gap: 6rem;
    padding: 6rem 0;
}
.aboutText {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    p{
        margin-bottom: 1.2rem;
    }
}

.aboutHeading {
    align-self: flex-start;
}
.aboutLink {
    align-self: flex-end;
}
