:root {
  --gray-100: #F1EDEE;
  --gray-200: #787474;
  --gray-300: #3B3939;
  --gray-400: #282828;
  --gray-500: #1D1D1D;


  --primary-light:#FFEACD;
  --primary: #CA9752;
  --primary-dark: #AC6F1E;
  --bg-color: #F5EEE6;

  --link-color: #CA9752;
  --link-hover: #AC6F1E;

  --text-default: #73726A;
    --text-default-dark: #73726A;

}

