:root {
  --gray-100: #bdb9b9;
  --gray-200: #787474;
  --gray-300: #3b3939;
  --gray-400: #282828;
  --gray-500: #1d1d1d;

  --white: #f7f2ec;
  --primary-light: #ffeacd;
  --primary-color: #ca9752;
  --primary-dark: #ac6f1e;
  --bg-color: #f5eee6;
  /* --bg-color: #f5eee6a8; */

  --link-color: #ca9752;
  --link-hover: #ac6f1e;

  --text-default: #73726a;
  --text-default-dark: #73726a;
}
