.footer {
  background: var(--gray-500);
  padding: 8rem 0;
}
.footerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .valuesList {
    flex-direction: column;
    align-items: start;
  }
  .footerContent {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .footerContent {
    gap: 6rem;
  }
  .nav {
    display: none;
  }
}
